<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.tlantic.plugins.socket"
    version="0.1.0">
    <name>Socket</name>
    <description>Tlantic TCP socket plugin</description>
    <license>GPL</license>
    <keywords>cordova, tcp, socket</keywords>

    <js-module src="www/socket.js" name="Socket">
        <clobbers target="window.tlantic.plugins.socket" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Socket">
                <param name="android-package" value="com.tlantic.plugins.socket.SocketPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>        
        <source-file src="src/android/SocketPlugin.java" target-dir="src/com/tlantic/plugins/socket" />      
        <source-file src="src/android/Connection.java" target-dir="src/com/tlantic/plugins/socket" />      
    </platform> 

</plugin>